doctype html
html
    head
        title es6 prototype boilerplate
        script(src="main.js")
        if compileDebug
            script(src="//localhost:9091/livereload.js")
        link(rel="stylesheet",href="main.css")
      body
        h1 es6 prototype boilerplate
